<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <i class="fa-solid fa-scale-balanced fs-2"></i>
    <a class="navbar-brand" href="/profile">Centeno Novillo & Asociados</a>
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/links/add">Nuevo</a></li>
            <li><a class="dropdown-item" href="/links">Buscar</a></li>
            <li><a class="dropdown-item" href="/links/delete">Eliminar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ART
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/links/addart">Agregar</a></li>
            <li><a class="dropdown-item" href="/links/art">Buscar/Eliminar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calendario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/links/calendario">Diario</a></li>
            <li><a class="dropdown-item" href="/links/calendario">Semanal</a></li>
            <li><a class="dropdown-item" href="/links/calendario">Ultimos Contactos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/links/judicial">Judicial</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
        <li class="nav-item mx-2">
          <a
            href="/"
            class="d-flex align-items-center text-white text-decoration-none"
            id="dropdownUser1"
            aria-expanded="false"
          >
            <img
              src="/img/logo.jpg"
              alt="CNApp"
              width="28"
              height="28"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">{{user.username}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>