{{!-- SIN USO ACTUAL --}}
<aside
  class="bd-aside sticky-xl-top align-self-start mb-3 mb-xl-5 px-3 menu-lat-link"
>
  <h2 class="h5 pt-4 pb-3 mb-4 border-bottom">Accesos Rapidos</h2>
  <nav class="small" id="">
    <ul class="list-unstyled">
      <li class="my-2">
        <button
          class="btn d-inline-flex align-items-center collapsed border-0"
          data-bs-toggle="collapse"
          aria-expanded="false"
          data-bs-target="#recordatorios-collapse"
          aria-controls="recordatorios-collapse"
        >Recordatorios</button>
        <ul class="list-unstyled ps-3 collapse" id="recordatorios-collapse">
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#hoy"
            >Hoy</a></li>
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#semanales"
            >Semanales</a></li>
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#mensuales"
            >Mensuales</a></li>
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#todos-recordatorios"
            >Todos</a></li>
        </ul>
      </li>
      <li class="my-2">
        <button
          class="btn d-inline-flex align-items-center collapsed border-0"
          data-bs-toggle="collapse"
          aria-expanded="false"
          data-bs-target="#clientes-collapse"
          aria-controls="clientes-collapse"
        >Clientes</button>
        <ul class="list-unstyled ps-3 collapse" id="clientes-collapse">
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#accidentes"
            >Accidentes</a></li>
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#accidentesinitineres"
            >Accidentes Initineres</a></li>
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#sizing"
            >Enfermedades</a></li>
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#todos"
            >Todos</a></li>
        </ul>
      </li>
      <li class="my-2">
        <button
          class="btn d-inline-flex align-items-center collapsed border-0"
          data-bs-toggle="collapse"
          aria-expanded="false"
          data-bs-target="#contactos-frecuentes-collapse"
          aria-controls="contactos-frecuentes-collapse"
        >Contactos Frecuentes</button>
        <ul
          class="list-unstyled ps-3 collapse"
          id="contactos-frecuentes-collapse"
        >
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#clientes"
            >Clientes</a></li>
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#art"
            >ART</a></li>
        </ul>
      </li>
      <li class="my-2">
        <button
          class="btn d-inline-flex align-items-center collapsed border-0"
          data-bs-toggle="collapse"
          aria-expanded="false"
          data-bs-target="#informes-collapse"
          aria-controls="informes-collapse"
        >Informes</button>
        <ul class="list-unstyled ps-3 collapse" id="informes-collapse">
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#proximos-contactos"
            >Proximos Contactos </a></li>
          <li><a
              class="d-inline-flex align-items-center rounded text-decoration-none menu-lat-link"
              href="#clientes-segun-estado"
            >Clientes segun Estado</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>