{{>navigation}}
<div id="booking" class="section">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="booking-form row">
          <h5 id="titulo" class="badge bg-primary fs-5">ELIMINAR CLIENTE</h5>
          <div class="col-md-8">
            <span class="form-label">Nombre</span>
            <input class="form-control mt-2" type="text" name="search" id="search" placeholder="Ingrese nombre de Cliente" onkeyup="cambioeltexto()" />
          </div>
          <div class="col-md-4">
              <span class="form-label">Reset</span>
              <button class="submit-btn border border-ligth" role="button" onclick="location.reload()">QUITAR FILTROS</button>
          </div>
          <button class="btn btn-primary mt-3" onclick="mostrarFlitros()">BUSCAR POR FILTROS</button>

          <div class="gradientefondo align-" id="divFiltros" style="display: none">
            <div class="row">
              <div class="col-md-auto d-flex align-items-center text-cente">
                <div class="form-group">
                  <span class="form-label">TIPO</span>
                  <select class="form-control" name="tipo" id="tipo" onchange="cambioeltipo()">
                    <option>Seleccionar</option>
                    <option>Accidente</option>
                    <option>Accidente Initinere</option>
                    <option>Enfermedad</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
              <div class="col-md-auto d-flex align-items-center text-center">
                <div class="form-group">
                  <div class="form-check form-switch fs-5 text-light">
                    <input class="form-check-input" type="checkbox" id="switch_importante" name="importante"
                      onchange="cambioelimportante()">
                    <label class="form-check-label" for="switch_importante">IMPORTANTE</label>
                  </div>
                </div>
              </div>
              <div class="col-md-auto d-flex align-items-center text-center">
                <div class="form-group">
                  <div class="form-check form-switch fs-5 text-light">
                    <input class="form-check-input" type="checkbox" id="switch_regHonorarios" name="regHonorarios"
                      onchange="cambioelregHonorarios()">
                    <label class="form-check-label" for="switch_regHonorarios">REG HONORARIOS</label>
                  </div>
                </div>
              </div>
              <div class="col-md-auto d-flex align-items-center text-center">
                <div class="form-group">
                  <div class="form-check form-switch fs-5 text-light">
                    <input class="form-check-input" type="checkbox" id="switch_finalizado" name="finalizado"
                      onchange="cambioelfinalizado()">
                    <label class="form-check-label" for="switch_finalizado">FINALIZADO</label>
                  </div>
                </div>
              </div>
              <div class="col-md-auto d-flex align-items-center text-center">
                <div class="form-group">
                  <div class="form-check form-switch fs-5 text-light">
                    <input class="form-check-input" type="checkbox" id="switch_baja" name="baja"
                      onchange="cambioelBaja()">
                    <label class="form-check-label" for="switch_baja">BAJA</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div id="divEstado" class="col-md-6">
                <div>
                  <div class="form-group">
                    <span class="form-label">ESTADO</span>
                    <input class="form-control" type="text" placeholder="Seleccione un Estado" disabled name="estado" id="estado"/>
                  </div>
                </div>
              </div>
            </div>


            <div class="" style="height: 150px">
              <div class="menu-desktop" id="menu">
                <ul>
                  <li><a onclick='constructorEstado("conInc")'>CON INCAPACIDAD</a>
                    <ul>
                      <li><a onclick='constructorEstado("conIncFechaVD")'>INGRESAR FECHA VD</a></li>
                      <li><a onclick='constructorEstado("conIncFechaPend")'>DEJAR FECHA PENDIENTE</a>
                      </li>
                    </ul>
                  </li>
                  <li><a onclick='constructorEstado("sinInc")'>SIN INCAPACIDAD </a>
                    <ul>
                      <li><a onclick='constructorEstado("sinIncDDI")'>DDI</a>
                        <ul>
                          <li><a onclick='constructorEstado("sinIncDDIJud")'>JUDICIAL</a>
                          </li>
                          <li><a onclick='constructorEstado("sinIncDDICerrar")'>CERRAR</a></li>
                        </ul>
                      </li>
                      <li><a onclick='constructorEstado("sinIncDA")'>DA</a></li>
                    </ul>
                  </li>
                  <li><a onclick='constructorEstado("detInc")'>DET INCAPACIDAD</a>
                    <ul>
                      <li><a onclick='constructorEstado("detIncDDI")'>DDI</a>
                        <ul>
                          <li><a onclick='constructorEstado("detIncDDIJud")'>JUDICIAL</a>
                          </li>
                          <li><a onclick='constructorEstado("detIncDDICerrar")'>CERRAR</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a onclick='constructorEstado("jud")'>JUDICIAL</a>
                    <ul>
                      <li><a onclick='constructorEstado("judAbr")'>ABREVIADO</a></li>
                      <li><a onclick='constructorEstado("judOrd")'>ORDINARIO</a></li>
                    </ul>
                  </li>
                  <li><a onclick='constructorEstado("trat")'>TRATAMIENTO</a></li>
                  <li><a onclick='constructorEstado("acord")'>ACORDADO (VD)</a></li>
                  <li><a onclick='constructorEstado("cerrarSrt")'>CERRAR (SRT)</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="table-responsive mt-3">

            <div id="constructorArrays">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="bg-primary fs-5 text-center">DAMNIFICADO</th>
                    <th class="bg-primary fs-5 text-center">DNI</th>
                    <th class="bg-primary fs-5 text-center">ELIMINAR</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each links}}
                  <tr>
                    <td class="fs-4 text-light">{{damnificado}}</td>
                    <td class="fs-5 text-light text-center">{{dni_cuil}}</td>
                    <td>
                      <div>
                        <a class="btn submit-btn border border-ligth" href="/links/deleted/{{id_cliente}}" role="button"
                            >Eliminar
                          </a>
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="row d-flex justify-content-around">
              <div class="col-md-3">
                <div class="form-btn">
                  <a class="btn submit-btn border border-ligth" href="/links/add" role="button">AGREGAR CLIENTE</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-btn">
                  <a class="btn submit-btn border border-ligth" href="/profile" role="button">CANCELAR</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="invisible" style="display: none;">
  <input type="text" id="conInc" name="conInc" value="">
  <input type="text" id="conIncFechaVD" name="conIncFechaVD" value="">
  <input type="text" id="conIncFechaPend" name="conIncFechaPend" value="">
  <input type="text" id="sinInc" name="sinInc" value="">
  <input type="text" id="sinIncDDI" name="sinIncDDI" value="">
  <input type="text" id="sinIncDDIJud" name="sinIncDDIJud" value="">
  <input type="text" id="sinIncDDICerrar" name="sinIncDDICerrar" value="">
  <input type="text" id="sinIncDA" name="sinIncDA" value="">
  <input type="text" id="detInc" name="detInc" value="">
  <input type="text" id="detIncDDI" name="detIncDDI" value="">
  <input type="text" id="detIncDDIJud" name="detIncDDIJud" value="">
  <input type="text" id="detIncDDICerrar" name="detIncDDICerrar" value="">
  <input type="text" id="jud" name="jud" value="">
  <input type="text" id="judAbr" name="judAbr" value="">
  <input type="text" id="judOrd" name="judOrd" value="">
  <input type="text" id="trat" name="trat" value="">
  <input type="text" id="acord" name="acord" value="">
  <input type="text" id="cerrarSrt" name="cerrarSrt" value="">
</div>

<script>
  function cambioeltexto() {
    const searchInput = document.getElementById("search");
    const rows = document.querySelectorAll("tbody tr");
    searchInput.addEventListener("keyup", function (event) {
      const q = event.target.value.toLowerCase();
      rows.forEach((row) => {
        row.querySelector("td").textContent.toLowerCase().includes(q)
          ? (row.style.display = "table-row")
          : (row.style.display = "none");
      });
    });
  }

  function limpiarFiltros(){
    console.log("clean")
  }

  function mostrarFlitros() {
    document.getElementById("switch_importante").checked=false
    document.getElementById("switch_regHonorarios").checked=false
    document.getElementById("switch_finalizado").checked=false
    document.getElementById("switch_baja").checked=false
    document.getElementById("estado").value = ""
    var x = document.getElementById("divFiltros");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  //FILTROS GENERALES (TIPO, IMPORTANTE, REG HONORARIOS, FINALIZADO, BAJA)

// ARRAY INICIAL CON TODOS LOS CLIENTES
var arrayOK = {{{ dataCliArray }}};

  function cambioeltipo() {
    const valorTipo = document.getElementById("tipo").value;
    arrayFiltrado(valorTipo, "tipo", arrayOK)
    document.getElementById("tipo").innerHTML='<option>Seleccionar</option><option>Accidente</option><option>Accidente Initinere</option><option>Enfermedad</option>'
  }

  function cambioelimportante() {
    let valorImportante = document.getElementById("switch_importante").checked;
    if (valorImportante == true) {
      valorImportante = "on"
      document.getElementById("titulo").textContent = "ELIMINAR CLIENTE POR IMPORTANTE"
    }
    else {
      document.getElementById("titulo").textContent = "ELIMINAR CLIENTE"
      valorImportante = null
    }
    arrayResultado = arrayFiltrado(valorImportante, "importante", arrayOK)
  }

  function cambioelregHonorarios() {
    let valorregHonorarios = document.getElementById("switch_regHonorarios").checked;
    if (valorregHonorarios == true) {
      valorregHonorarios = "on"
      document.getElementById("titulo").textContent = "ELIMINAR CLIENTE POR REG HONORARIOS"
    }
    else {
      document.getElementById("titulo").textContent = "ELIMINAR CLIENTE"
      valorregHonorarios = null
    }
    arrayResultado = arrayFiltrado(valorregHonorarios, "regHonorarios", arrayOK)
  }

  function cambioelfinalizado() {
    let valorFinalizado = document.getElementById("switch_finalizado").checked;
    if (valorFinalizado == true) {
      valorFinalizado = "on"
      document.getElementById("titulo").textContent = "ELIMINAR CLIENTE POR FINALIZADOS"
    }
    else {
      document.getElementById("titulo").textContent = "ELIMINAR CLIENTE"
      valorFinalizado = null
    }
    arrayResultado = arrayFiltrado(valorFinalizado, "finalizado", arrayOK)
  }

  function cambioelBaja() {
    let valorBaja = document.getElementById("switch_baja").checked;
    if (valorBaja == true) {
      valorBaja = "on"
      document.getElementById("titulo").textContent = "ELIMINAR CLIENTE POR BAJA"
    }
    else {
      document.getElementById("titulo").textContent = "ELIMINAR CLIENTE"
      valorBaja = null
    }
    arrayResultado = arrayFiltrado(valorBaja, "baja", arrayOK)
  }



  function constructorDeHTML(cli_fil) {
    let constructor = '<tr><td class="fs-4 text-light">' + cli_fil.damnificado + '</td><td class="fs-5 text-light text-center">' + cli_fil.dni_cuil + '</td><td><div><a class="btn submit-btn border border-ligth" href="/links/evento/' + cli_fil.id_cliente + '" role="button">Asignar Evento</a></div></td><td> <div><a class="btn submit-btn border border-ligth" href="/links/edit/' + cli_fil.id_cliente + '" role="button">Editar Cliente</a></div></td><td><div><a class="btn submit-btn border border-ligth" href="/links/perfil/' + cli_fil.id_cliente + '" role="button">Ver Perfil</a></div></td></tr>'
    return constructor
  }

  function arrayFiltrado(valor, campo, arrayFil) {

    constructor = "";
    document.getElementById("constructorArrays").innerHTML = constructor;

    constructorPre = '<table class="table table-hover"><thead><tr><th class="bg-primary fs-5 text-center">DAMNIFICADO</th><th class="bg-primary fs-5 text-center">DNI</th><th class="bg-primary fs-5 text-center">EVENTO</th><th class="bg-primary fs-5 text-center">EDITAR</th><th class="bg-primary fs-5 text-center">PERFIL</th></tr></thead><tbody>'

    sinClientes = constructor

  if (arrayFil!=undefined){
    if (campo == "estado") {
      const clientesFiltrados = arrayFil.filter(function (cli_fil) {
        if (cli_fil.estado == valor) {
          constructor += constructorDeHTML(cli_fil)
        }
        return true;
      });
      mostrarFlitros()
      return clientesFiltrados;
    }
    if (campo == "tipo") {
      const clientesFiltrados = arrayFil.filter(function (cli_fil) {
        if (cli_fil.tipo == valor) {
          constructor += constructorDeHTML(cli_fil)
          return true
        }
      });
      mostrarFlitros()
    }
    if (campo == "importante") {
      const clientesFiltrados = arrayFil.filter(function (cli_fil) {
        if (cli_fil.importante == valor) {
          constructor += constructorDeHTML(cli_fil)
          return true
        }
      });
      mostrarFlitros()
    }
    if (campo == "regHonorarios") {
      const clientesFiltrados = arrayFil.filter(function (cli_fil) {
        if (cli_fil.regHonorarios == valor) {
          constructor += constructorDeHTML(cli_fil)
          return true
        }
      });
      mostrarFlitros()
    }
    if (campo == "finalizado") {
      const clientesFiltrados = arrayFil.filter(function (cli_fil) {
        if (cli_fil.finalizado == valor) {
          constructor += constructorDeHTML(cli_fil)
          return true
        }
      });
      mostrarFlitros()
    }
    if (campo == "baja") {
      const clientesFiltrados = arrayFil.filter(function (cli_fil) {
        if (cli_fil.baja == valor) {
          constructor += constructorDeHTML(cli_fil)
          return true
        }
      });
      mostrarFlitros()
    }
  }
  
    if (sinClientes == constructor) {
      document.getElementById("constructorArrays").innerHTML = '<div class="bg-primary col-12 justify-content-center"><h3 class="text-white text-center ">No hay ningun cliente que cumpla con este Filtro</h3></div>'
    }
    else {
      constructor += "</tbody></table>";
      document.getElementById("constructorArrays").innerHTML = constructorPre + constructor;
    }
}

</script>
<script>

  function limpiarcampos(){
    document.getElementById("conInc").value = null
    document.getElementById("conIncFechaVD").value = null
    document.getElementById("conIncFechaPend").value = null
    document.getElementById("sinInc").value = null
    document.getElementById("sinIncDDI").value = null
    document.getElementById("sinIncDDIJud").value = null
    document.getElementById("sinIncDDICerrar").value = null
    document.getElementById("sinIncDA").value = null
    document.getElementById("detInc").value = null
    document.getElementById("detIncDDI").value = null
    document.getElementById("detIncDDIJud").value = null
    document.getElementById("detIncDDICerrar").value = null
    document.getElementById("jud").value = null
    document.getElementById("judAbr").value = null
    document.getElementById("judOrd").value = null
    document.getElementById("trat").value = null
    document.getElementById("acord").value = null
    document.getElementById("cerrarSrt").value = null
  }

  function constructorEstado(x) {

    limpiarcampos()
    
    constructorSelector = "";
    document.getElementById("constructorArrays").innerHTML = constructorSelector;

    constructorPreSelector = '<table class="table table-hover"><thead><tr><th class="bg-primary fs-5 text-center">DAMNIFICADO</th><th class="bg-primary fs-5 text-center">DNI</th><th class="bg-primary fs-5 text-center">EVENTO</th><th class="bg-primary fs-5 text-center">EDITAR</th><th class="bg-primary fs-5 text-center">PERFIL</th></tr></thead><tbody>'

    sinClientesSelector = constructorSelector


    switch (x) {
      case "conInc": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="CON INCAPACIDAD" disabled name="estado" id="estado"/></div></div>' 
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if (cli_fil.conInc == "on") {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })    
      break; 
      case "conIncFechaVD": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="CON INCAPACIDAD  >>  INGRESE FECHA DE VD  >>" disabled name="estado" id="estado"/></div></div>'
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if ((cli_fil.conInc == "on" && cli_fil.conIncFechaVD == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "conIncFechaPend": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="CON INCAPACIDAD  >>  FECHA VD PENDIENTE" disabled name="estado" id="estado"/></div></div>' 
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if ((cli_fil.conInc == "on" && cli_fil.conIncFechaPend == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "sinInc": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="SIN INCAPACIDAD" disabled name="estado" id="estado"/></div></div>' 
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if (cli_fil.sinInc == "on") {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "sinIncDDI": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI" disabled name="estado" id="estado"/></div></div>' 
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if ((cli_fil.sinInc == "on" && cli_fil.sinIncDDI == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "sinIncDDIJud":        
         constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI  >>  JUDICIAL" disabled name="estado" id="estado"/></div></div>' 
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if ((cli_fil.sinInc == "on" && cli_fil.sinIncDDI == "on" && cli_fil.sinIncDDIJud == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break;
      case "sinIncDDICerrar": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI  >>  CERRAR" disabled name="estado" id="estado"/></div></div>' 
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if ((cli_fil.sinInc == "on" && cli_fil.sinIncDDI == "on" && cli_fil.sinIncDDICerrar == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "sinIncDA": 
       constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DA" disabled name="estado" id="estado"/></div></div>' 
       mostrarFlitros()
       arrayOK.filter(function (cli_fil) {
        if ((cli_fil.sinInc == "on" && cli_fil.sinIncDA == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "detInc": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="DET INCAPACIDAD" disabled name="estado" id="estado"/></div></div>' 
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if (cli_fil.detInc == "on") {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "detIncDDI": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="DET INCAPACIDAD >> DDI" disabled name="estado" id="estado"/></div></div>' 
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if ((cli_fil.detInc == "on" && cli_fil.detIncDDI == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "detIncDDIJud":
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="DET INCAPACIDAD  >>  DDI  >>  JUDICIAL" disabled name="estado" id="estado"/></div></div>'
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if ((cli_fil.detInc == "on" && cli_fil.detIncDDI == "on"&& cli_fil.detIncDDIJud == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break;
      case "detIncDDICerrar": 
       constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="DET INCAPACIDAD  >>  DDI  >>  CERRAR" disabled name="estado" id="estado"/></div></div>'
       mostrarFlitros()
       arrayOK.filter(function (cli_fil) {
        if ((cli_fil.detInc == "on" && cli_fil.detIncDDI == "on"&& cli_fil.detIncDDICerrar == "on")) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "trat": 
       constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="TRATAMIENTO" disabled name="estado" id="estado"/></div></div>'
       mostrarFlitros()
       arrayOK.filter(function (cli_fil) {
        if (cli_fil.trat == "on" ) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "jud": 
        constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="JUDICIAL" disabled name="estado" id="estado"/></div></div>'
        mostrarFlitros()
        arrayOK.filter(function (cli_fil) {
        if (cli_fil.jud == "on" ) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "judAbr": 
       constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="JUDICIAL  >>  ABREVIADO" disabled name="estado" id="estado"/></div></div>'
       mostrarFlitros()
       arrayOK.filter(function (cli_fil) {
        if (cli_fil.jud == "on" && cli_fil.judAbr == "on") {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "judOrd": 
       constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="JUDICIAL  >>  ORDINARIO" disabled name="estado" id="estado"/></div></div>'
       mostrarFlitros()
       arrayOK.filter(function (cli_fil) {
        if (cli_fil.jud == "on" && cli_fil.judOrd == "on") {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
      case "acord": 
       constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="ACORDADO" disabled name="estado" id="estado"/></div></div>'
       mostrarFlitros()
       arrayOK.filter(function (cli_fil) {
        if (cli_fil.acord == "on" ) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 
        case "cerrarSrt": constructor = '<div><div class="form-group"><span class="form-label">ESTADO</span><input class="form-control" type="text" value="CERRAR (SRT)" disabled name="estado" id="estado"/></div></div>'
        mostrarFlitros()
       arrayOK.filter(function (cli_fil) {
        if (cli_fil.cerrarSrt == "on" ) {
          constructorSelector += constructorDeHTML(cli_fil)
          return true
        }
        })
      break; 

      }
        document.getElementById("divEstado").innerHTML = constructor
    
    if (sinClientesSelector == constructorSelector) {
      document.getElementById("constructorArrays").innerHTML = '<div class="bg-primary col-12 justify-content-center"><h3 class="text-white text-center ">No hay ningun cliente que cumpla con este Filtro</h3></div>'
    }
    else {
      constructorSelector += "</tbody></table>";
      document.getElementById("constructorArrays").innerHTML = constructorPreSelector + constructorSelector;
    }
  }
</script>